.containerDetails {
  display: flex;
  justify-content: center;
  opacity:0;
  animation: enter .4s forwards;
}

@keyframes enter {
  to {
    opacity: 1;
  }
}

.selectedInfo {
  display: flex;
}

.selectedName,
.selectedTypesImg, 
.selectedAttributesTitle, 
.selectedAttributesValue,
.selectedStats {
  text-transform: capitalize;
}

.selectedPrimaryImage img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.selectedPrimaryImage p {
  text-align: center;
  position: relative;
  top: -20px;
  font-style: italic;
  font-size: 0.875rem;
}

.selectedAttributes,
.selectedStats,
.selectedTypes,
.selectedSprites {
  background-color: #fff;
  border-top: 4px solid;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
}

.selectedSprites {
  margin-right: 1rem;
  border-color: #1E90FF !important;
}

.selectedStats {
  display: flex;
  border-color: #A020F0;
  flex-direction: column;
  color: #333;
}

.selectedAttributes {
  display: flex;
  justify-content: space-between;
  border-color :	#FF8C00;
}

.selectedAttributes li {
  margin-bottom: .5rem;
}

.selectedAttributesTitle,
.statsName {
  font-weight: bold;
  font-size: 1.1rem;
  display: block;
}

.selectedAttributesValue{
  display: block;
}

.selectedFemale,
.selectedMale {
  display: block;
}

.selectedOtherImages {
  display: flex;
  justify-content: space-evenly;
}

.selectedOtherImages div {
  text-align: center;
}

.selectedData {
  width: 70%;
}

.selectedTypes h3 {
  text-align: center;
}

.selectedStatsWrapper {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.selectedTypesImg {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.selectedTypesEachImg {
  margin-right: 1rem;
}

.selectedStats ul {
  margin-bottom: .5rem;
}

.hp,
.speed {
  text-align: center;

}

@media(max-width: 992px) {
  .selectedInfo {
    flex-direction: column;
    align-items: center;
  }

  .selectedData {
    display: flex;
    flex-direction: column;
    width: 70% !important;
  }

  .selectedAttributes,
  .selectedStats,
  .selectedTypes,
  .selectedSprites {
    width: 100%;
    margin-right: 0px !important;
  }

  .selectedTypesImg {
    justify-content: space-evenly;
  }
}

@media(max-width: 640px) {
  .containerDetails {
    padding: 1rem;
  }

  .selectedSprites {
    padding: 0px;
  }

  .selectedPrimaryImage img {
    width: 70%;
  }

  .selectedOtherImages img {
    width: 50;
  }

  .selectedTypesEachImg img {
    max-width: 3.5rem;
  }

  .selectedData {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .selectedAttributes {
    justify-content: space-around;
  }

  .selectedStatsWrapper {
    justify-content: space-around;
  }
} 