
.header {
  background-color: #fff;
  width: 100%;
  height: auto;
  font: normal 2.5rem 'Cabin';
  box-shadow: 0px 0px 10px 0px #aaa;
}

.headerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.headerWrapper img {
  width: 100px;
  height: auto;
  position: relative;
  right: -2000px;
  animation: pokeball 2s forwards;
}

.headerWrapper span {
  color: #ed3237;
}

@keyframes pokeball {
  to {
    right: 0px;
    transform: rotateZ(-1440deg)
  }
}