.loading {
  width: 100%;
  height: 100vh;
  
}

.loading img,
.loading h3 {
  position: relative;
  width: 5%;
  left: 50%;
  top: 30%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
}