.loading {
  width: 100%;
}

.loadingWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -4rem;
}

.loadingWrapper img {
  width: 15%;
}

@media(max-width: 640px) {
  .loadingWrapper img {
    width: 40%;
  }
}
