@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
}

ul,
li {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: 'Cabin';
}

.container {
  max-width: 65%;
  margin: auto;
}

.appBody {
  padding: 8rem 0rem;
}
